# Import library

In [22]:
# pip install metapy-toolbox or pip install --upgrade metapy-toolbox
from metapy_toolbox import gender_firefly_01
from my_example import my_obj_function

# Setup

In [23]:
# Algorithm setup
setup = {   
            'number of iterations': 100,
            'number of population': 3,
            'number of dimensions': 2,
            'x pop lower limit': [-5, -5],
            'x pop upper limit': [5, 5],
            'none variable': None,
            'objective function': my_obj_function,
            'algorithm parameters': {
                                        'attractiveness': {'gamma': 'auto', 'beta_0': 0.98},
                                        'female population': {'number of females': 5},
                                        'mutation': {
                                                        'mutation rate (%)': 100,
                                                        'type': 'chaotic map 01',
                                                        'alpha': 4,
                                                        'number of tries': 5,
                                                    }
                                    }
        }

# Initial guess
# init_pop = [[-0.74, 1.25],
#             [3.58, -3.33]]

# random guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])

# Seed
seed = None

# Call function

In [24]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = gender_firefly_01(settings)

# Output details

In [25]:
df_all_results

          X_0       X_1         OF       FIT  ITERATION
0    3.113419 -0.086448   9.700852  0.093451          0
1    1.042836  0.673037   1.540484  0.393626          0
2   -3.315595  3.562500  23.684579  0.040511          0
3    1.029943  0.579629   1.396753  0.417231          0
4    2.110147 -3.756740  18.565812  0.051110          0
..        ...       ...        ...       ...        ...
803 -0.153109 -0.153109   0.046885  0.955215        100
804 -0.156522 -0.156522   0.048999  0.953290        100
805 -0.161626 -0.161626   0.052246  0.950348        100
806 -0.173608 -0.173608   0.060280  0.943147        100
807 -0.027436 -0.027436   0.001505  0.998497        100

[808 rows x 5 columns]

In [26]:
df_resume

,X_0_BEST,X_1_BEST,OF BEST,FIT BET,ID BEST,X_0_WORST,X_1_WORST,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,0.443909,0.248828,2.589707e-01,0.794300,7,-3.315595,3.5625,23.684579,0.040511,2,11.486447,0.236763,0,8
1,0.051880,0.051880,5.383001e-03,0.994646,4,-3.315595,3.5625,23.684579,0.040511,2,5.744590,0.426113,1,21
2,0.030617,0.030617,1.874836e-03,0.998129,7,-3.315595,3.5625,23.684579,0.040511,2,3.383329,0.722203,2,34
3,-0.018352,-0.018352,6.735570e-04,0.999327,4,-3.315595,3.5625,23.684579,0.040511,2,3.383136,0.722396,3,47
4,-0.018352,-0.018352,6.735570e-04,0.999327,4,-3.315595,3.5625,23.684579,0.040511,2,3.383136,0.722396,4,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,-0.000578,-0.000578,6.671282e-07,0.999999,7,-3.315595,3.5625,23.684579,0.040511,2,3.382902,0.722630,96,1256
97,-0.000578,-0.000578,6.671282e-07,0.999999,7,-3.315595,3.5625,23.684579,0.040511,2,3.382902,0.722630,97,1269
98,-0.000578,-0.000578,6.671282e-07,0.999999,7,-3.315595,3.5625,23.684579,0.040511,2,3.382902,0.722630,98,1282
99,-0.000578,-0.000578,6.671282e-07,0.999999,7,-3.315595,3.5625,23.684579,0.040511,2,3.382902,0.722630,99,1295
100,-0.000190,-0.000190,7.183129e-08,1.000000,7,-3.315595,3.5625,23.684579,0.040511,2,3.382902,0.722630,100,1308

# Report

### txt

In [27]:
filename = "report_gender_firefly_algorithm_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [28]:
filename = "report_gender_firefly_algorithm_01.xlsx"
df_resume.to_excel(filename, index=False)