# Import library

In [1]:
from metapy_toolbox import genetic_algorithm_01
from my_example import my_obj_function

# Setup

In [2]:
# Algorithm setup
setup = {   
            'number of iterations': 100,
            'number of population': 10,
            'number of dimensions': 2,
            'x pop lower limit': [-5, -5],
            'x pop upper limit': [5, 5],
            'none variable': None,
            'objective function': my_obj_function,
            'algorithm parameters': {
                                     'selection': {'type': 'roulette'},
                                     'crossover': {'crossover rate (%)': 82, 'type':'linear'},
                                     'mutation': {'mutation rate (%)': 12, 'type': 'hill climbing', 'cov (%)': 15, 'pdf': 'gaussian'},
                                    }
        }

# Initial guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])

# Seed
seed = None

# Call function

In [3]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = genetic_algorithm_01(settings)

Progress:   0%|          | 0/100 [00:00<?, ?it/s]

Progress: 100%|██████████| 100/100 [00:00<00:00, 156.30it/s]

# Report

In [4]:
df_all_results

               X_0           X_1            OF       FIT  ITERATION
0     1.446310e+00 -4.153971e+00  1.934729e+01  0.049147          0
1     4.922197e+00 -4.851064e+00  4.776085e+01  0.020508          0
2    -3.839588e+00 -1.029620e+00  1.580255e+01  0.059515          0
3     4.584599e-01  1.041192e+00  1.294266e+00  0.435869          0
4    -4.804414e+00 -2.057679e+00  2.731643e+01  0.035315          0
...            ...           ...           ...       ...        ...
1005 -6.067374e-09 -1.086790e-09  3.799414e-17  1.000000        100
1006  6.425220e-09  3.051263e-09  5.059365e-17  1.000000        100
1007  2.244948e-09 -1.277092e-09  6.670755e-18  1.000000        100
1008  5.410837e-09  2.040148e-09  3.343937e-17  1.000000        100
1009  2.682314e-09 -1.797017e-10  7.227099e-18  1.000000        100

[1010 rows x 5 columns]

In [5]:
df_resume.tail()

,X_0_BEST,X_1_BEST,OF BEST,FIT BET,ID BEST,X_0_WORST,X_1_WORST,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
96,1.064594e-09,3.628704e-09,1.430085e-17,1.0,8,-7.627894e-09,6.805815e-09,1.045039e-16,1.0,1,6.863225e-17,1.0,96,2506
97,1.064594e-09,3.628704e-09,1.430085e-17,1.0,8,-7.627894e-09,6.805815e-09,1.045039e-16,1.0,1,6.863225e-17,1.0,97,2538
98,1.064594e-09,3.628704e-09,1.430085e-17,1.0,8,-7.627894e-09,6.805815e-09,1.045039e-16,1.0,1,6.863225e-17,1.0,98,2566
99,1.064594e-09,3.628704e-09,1.430085e-17,1.0,8,-7.627894e-09,6.805815e-09,1.045039e-16,1.0,1,6.863225e-17,1.0,99,2594
100,1.064594e-09,3.628704e-09,1.430085e-17,1.0,8,-7.627894e-09,6.805815e-09,1.045039e-16,1.0,1,6.863225e-17,1.0,100,2627

In [6]:
x_best = list(df_resume.iloc[-1])[:setup['number of dimensions']]
x_best

[1.064593774865303e-09, 3.628703980592907e-09]

# Report

### txt

In [7]:
filename = "report_genetic_algorithm_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [8]:
filename = "report_genetic_algorithm_01.xlsx"
df_resume.to_excel(filename, index=False)