# Import library

In [176]:
# pip install metapy-toolbox or pip install --upgrade metapy-toolbox
from metapy_toolbox import hill_climbing_01
from my_example import tensao_max

# Setup

In [177]:
# Algorithm setup
setup = {   
            'number of iterations': 100,
            'number of population': 1,
            'number of dimensions': 1,
            'x pop lower limit': [0.0],
            'x pop upper limit': [180.0],
            'none variable': None,
            'objective function': tensao_max,
            'algorithm parameters': {
                                        'mutation': {
                                                     'cov (%)': 20,
                                                     'pdf': 'gaussian'
                                                    }
                                    },
        }

# random guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])

# Seed
seed = None

# Call function

In [178]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = hill_climbing_01(settings)

Progress:   0%|          | 0/100 [00:00<?, ?it/s]

Progress: 100%|██████████| 100/100 [00:00<00:00, 1671.61it/s]

# Output details

In [179]:
df_all_results.tail(20)

            X_0         OF        FIT  ITERATION
81   114.360694 -29.852054  30.852054         81
82   150.244149   0.751558   0.570920         82
83   128.707842 -25.575341  26.575341         83
84    70.942407  21.086633   0.045276         84
85   115.326788 -29.953300  30.953300         85
86   150.186772   0.659174   0.602710         86
87   102.686731 -24.246683  25.246683         87
88   136.463112 -18.416343  19.416343         88
89    98.980542 -20.872824  21.872824         89
90   103.222448 -24.674368  25.674368         90
91   154.099939   7.117873   0.123185         91
92    98.680519 -20.568977  21.568977         92
93   160.528320  18.190958   0.052108         93
94   125.504599 -27.585324  28.585324         94
95   115.059480 -29.930967  30.930967         95
96   108.238423 -27.902831  28.902831         96
97   114.616542 -29.884391  30.884391         97
98   110.860895 -29.012124  30.012124         98
99    97.279179 -19.091402  20.091402         99
100  152.245763   4.020133   0.199198        100

In [180]:
df_resume

,X_0_BEST,OF BEST,FIT BET,ID BEST,X_0_WORST,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,99.747265,-21.628875,22.628875,0,99.747265,-21.628875,22.628875,0,-21.628875,22.628875,0,1
1,99.747265,-21.628875,22.628875,0,99.747265,-21.628875,22.628875,0,-21.628875,22.628875,1,2
2,107.083367,-27.286326,28.286326,0,107.083367,-27.286326,28.286326,0,-27.286326,28.286326,2,3
3,107.083367,-27.286326,28.286326,0,107.083367,-27.286326,28.286326,0,-27.286326,28.286326,3,4
4,118.836945,-29.842854,30.842854,0,118.836945,-29.842854,30.842854,0,-29.842854,30.842854,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
96,116.819544,-29.998027,30.998027,0,116.819544,-29.998027,30.998027,0,-29.998027,30.998027,96,97
97,116.819544,-29.998027,30.998027,0,116.819544,-29.998027,30.998027,0,-29.998027,30.998027,97,98
98,116.819544,-29.998027,30.998027,0,116.819544,-29.998027,30.998027,0,-29.998027,30.998027,98,99
99,116.819544,-29.998027,30.998027,0,116.819544,-29.998027,30.998027,0,-29.998027,30.998027,99,100
100,116.819544,-29.998027,30.998027,0,116.819544,-29.998027,30.998027,0,-29.998027,30.998027,100,101

# Report

### txt

In [181]:
filename = "report_hill_climbing_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [182]:
filename = "report_hill_climbing_01.xlsx"
df_resume.to_excel(filename, index=False)