# Libraries

In [1]:
import sys
my_framework_path = '/home/wmpjrufg/Documents/metapy'
sys.path.append(my_framework_path)
from metapy_toolbox import *

# GA tests

In [ ]:
x_ini = [[0.5, 1, 1], [1.5, 1.5, 1], [2.5, 2.5, 1], [3.5, 3.5, 1]]
paras = {'selection': 'roulette wheel',
          'crossover': {'type': 'linear', 'crossover rate (%)': 80},
          'mutation': {'type': 'none', 'mutation rate (%)': 10}}
n_gen = 5
frame, best = genetic_algorithm_01(sphere, n_gen, paras, x_ini, [0]*3, [5]*3)
best

   ID  ITER  X_0   X_1  X_2       OF       FIT  OF EVALUATIONS  \
0   0     0  0.5  1.00  1.0   2.2500  0.307692               0
1   1     0  1.5  1.50  1.0   5.5000  0.153846               1
2   2     0  2.5  2.50  1.0  13.5000  0.068966               2
3   3     0  3.5  3.50  1.0  25.5000  0.037736               3
4   0     1  0.0  0.00  1.0   1.0000  0.500000               6
5   1     1  1.0  1.00  1.0   3.0000  0.250000               9
6   2     1  0.0  0.25  1.0   1.0625  0.484848              12
7   3     1  0.0  0.00  1.0   1.0000  0.500000              15

   TIME CONSUMPTION (s)  P_X_BEST_0  P_X_BEST_1  P_X_BEST_2  P_OF_BEST
0              0.000011         0.5         1.0         1.0       2.25
1              0.000008         1.5         1.5         1.0       5.50
2              0.000006         2.5         2.5         1.0      13.50
3              0.000005         3.5         3.5         1.0      25.50
4              0.000005         NaN         NaN         NaN        NaN
5              0.000003         NaN         NaN         NaN        NaN
6              0.000002         NaN         NaN         NaN        NaN
7              0.000002         NaN         NaN         NaN        NaN   [1 1 1 1]
hello 0.0
hello 0.0
hello 1.0
hello 1.0
hello 1.0
hello 1.0
hello 0.0
hello 0.25
hello 1.0
hello 0.0
hello 0.0
hello 1.0
    ID  ITER  X_0   X_1  X_2       OF       FIT  OF EVALUATIONS  \
0    0     0  0.5  1.00  1.0   2.2500  0.307692               0
1    1     0  1.5  1.50  1.0   5.5000  0.153846               1
2    2     0  2.5  2.50  1.0  13.5000  0.068966               2
3    3     0  3.5  3.50  1.0  25.5000  0.037736               3
4    0     1  0.0  0.00  1.0   1.0000  0.500000               6
5    1     1  1.0  1.00  1.0   3.0000  0.250000               9
6    2     1  0.0  0.25  1.0   1.0625  0.484848              12
7    3     1  0.0  0.00  1.0   1.0000  0.500000              15
8    0     2  0.0  0.00  1.0   1.0000  0.500000              18
9    1     2  0.0  0.00  1.0   1.0000  0.500000              21
10   2     2  0.0  0.00  1.0   1.0000  0.500000              24
11   3     2  0.0  0.00  1.0   1.0000  0.500000              27

    TIME CONSUMPTION (s)  P_X_BEST_0  P_X_BEST_1  P_X_BEST_2  P_OF_BEST
0               0.000011         0.5        1.00         1.0       2.25
1               0.000008         1.5        1.50         1.0       5.50
2               0.000006         2.5        2.50         1.0      13.50
3               0.000005         3.5        3.50         1.0      25.50
4               0.000005         0.0        0.00         1.0        NaN
5               0.000003         1.0        1.00         1.0        NaN
6               0.000002         0.0        0.25         1.0        NaN
7               0.000002         0.0        0.00         1.0        NaN
8               0.000005         0.0        0.00         1.0        NaN
9               0.000002         NaN         NaN         NaN        NaN
10              0.000002         NaN         NaN         NaN        NaN
11              0.000002         0.0        0.00         1.0        NaN   [0 0 0 0]
hello 0.0
hello 0.0
hello 1.0
hello 1.0
hello 1.0
hello 1.0
hello 0.0
hello 0.25
hello 1.0
hello 0.0
hello 0.0
hello 1.0
    ID  ITER  X_0   X_1  X_2       OF       FIT  OF EVALUATIONS  \
0    0     0  0.5  1.00  1.0   2.2500  0.307692               0
1    1     0  1.5  1.50  1.0   5.5000  0.153846               1
2    2     0  2.5  2.50  1.0  13.5000  0.068966               2
3    3     0  3.5  3.50  1.0  25.5000  0.037736               3
4    0     1  0.0  0.00  1.0   1.0000  0.500000               6
5    1     1  1.0  1.00  1.0   3.0000  0.250000               9
6    2     1  0.0  0.25  1.0   1.0625  0.484848              12
7    3     1  0.0  0.00  1.0   1.0000  0.500000              15
8    0     2  0.0  0.00  1.0   1.0000  0.500000              18
9    1     2  0.0  0.00  1.0   1.0000  0.500000              21
10   2     2  0.0  0.00  1.0   1.0000  0.500000              24
11   3     2  0.0  0.00  1.0   1.0000  0.500000              27
12   0     3  0.0  0.00  1.0   1.0000  0.500000              30
13   1     3  0.0  0.00  1.0   1.0000  0.500000              33
14   2     3  0.0  0.00  1.0   1.0000  0.500000              36
15   3     3  0.0  0.00  1.0   1.0000  0.500000              39

    TIME CONSUMPTION (s)  P_X_BEST_0  P_X_BEST_1  P_X_BEST_2  P_OF_BEST
0               0.000011         0.5        1.00         1.0       2.25
1               0.000008         1.5        1.50         1.0       5.50
2               0.000006         2.5        2.50         1.0      13.50
3               0.000005         3.5        3.50         1.0      25.50
4               0.000005         0.0        0.00         1.0        NaN
5               0.000003         1.0        1.00         1.0        NaN
6               0.000002         0.0        0.25         1.0        NaN
7               0.000002         0.0        0.00         1.0        NaN
8               0.000005         0.0        0.00         1.0        NaN
9               0.000002         NaN         NaN         NaN        NaN
10              0.000002         NaN         NaN         NaN        NaN
11              0.000002         0.0        0.00         1.0        NaN
12              0.000005         0.0        0.00         1.0        NaN
13              0.000002         NaN         NaN         NaN        NaN
14              0.000002         NaN         NaN         NaN        NaN
15              0.000002         0.0        0.00         1.0        NaN   [0 0 0 0]
hello 0.0
hello 0.0
hello 1.0
hello nan
hello nan
hello nan
hello nan
hello nan
hello nan
hello 0.0
hello 0.0
hello 1.0
    ID  ITER  X_0   X_1  X_2       OF       FIT  OF EVALUATIONS  \
0    0     0  0.5  1.00  1.0   2.2500  0.307692               0
1    1     0  1.5  1.50  1.0   5.5000  0.153846               1
2    2     0  2.5  2.50  1.0  13.5000  0.068966               2
3    3     0  3.5  3.50  1.0  25.5000  0.037736               3
4    0     1  0.0  0.00  1.0   1.0000  0.500000               6
5    1     1  1.0  1.00  1.0   3.0000  0.250000               9
6    2     1  0.0  0.25  1.0   1.0625  0.484848              12
7    3     1  0.0  0.00  1.0   1.0000  0.500000              15
8    0     2  0.0  0.00  1.0   1.0000  0.500000              18
9    1     2  0.0  0.00  1.0   1.0000  0.500000              21
10   2     2  0.0  0.00  1.0   1.0000  0.500000              24
11   3     2  0.0  0.00  1.0   1.0000  0.500000              27
12   0     3  0.0  0.00  1.0   1.0000  0.500000              30
13   1     3  0.0  0.00  1.0   1.0000  0.500000              33
14   2     3  0.0  0.00  1.0   1.0000  0.500000              36
15   3     3  0.0  0.00  1.0   1.0000  0.500000              39
16   0     4  0.0  0.00  1.0   1.0000  0.500000              42
17   1     4  0.0  0.00  1.0   1.0000  0.500000              45
18   2     4  0.0  0.00  1.0   1.0000  0.500000              48
19   3     4  0.0  0.00  1.0   1.0000  0.500000              51

    TIME CONSUMPTION (s)  P_X_BEST_0  P_X_BEST_1  P_X_BEST_2  P_OF_BEST
0               0.000011         0.5         1.0         1.0       2.25
1               0.000008         1.5         1.5         1.0       5.50
2               0.000006         2.5         2.5         1.0      13.50
3               0.000005         3.5         3.5         1.0      25.50
4               0.000005         0.0         0.0         1.0        NaN
5               0.000003         NaN         NaN         NaN        NaN
6               0.000002         NaN         NaN         NaN        NaN
7               0.000002         0.0         0.0         1.0        NaN
8               0.000005         0.0         0.0         1.0        NaN
9               0.000002         NaN         NaN         NaN        NaN
10              0.000002         NaN         NaN         NaN        NaN
11              0.000002         0.0         0.0         1.0        NaN
12              0.000005         0.0         0.0         1.0        NaN
13              0.000002         NaN         NaN         NaN        NaN
14              0.000002         NaN         NaN         NaN        NaN
15              0.000002         0.0         0.0         1.0        NaN
16              0.000005         0.0         0.0         1.0        NaN
17              0.000002         NaN         NaN         NaN        NaN
18              0.000002         NaN         NaN         NaN        NaN
19              0.000002         0.0         0.0         1.0        NaN   [0 0 0 0]
hello 0.0
hello 0.0
hello 1.0
hello nan
hello nan
hello nan
hello nan
hello nan
hello nan
hello 0.0
hello 0.0
hello 1.0
    ID  ITER  X_0   X_1  X_2       OF       FIT  OF EVALUATIONS  \
0    0     0  0.5  1.00  1.0   2.2500  0.307692               0
1    1     0  1.5  1.50  1.0   5.5000  0.153846               1
2    2     0  2.5  2.50  1.0  13.5000  0.068966               2
3    3     0  3.5  3.50  1.0  25.5000  0.037736               3
4    0     1  0.0  0.00  1.0   1.0000  0.500000               6
5    1     1  1.0  1.00  1.0   3.0000  0.250000               9
6    2     1  0.0  0.25  1.0   1.0625  0.484848              12
7    3     1  0.0  0.00  1.0   1.0000  0.500000              15
8    0     2  0.0  0.00  1.0   1.0000  0.500000              18
9    1     2  0.0  0.00  1.0   1.0000  0.500000              21
10   2     2  0.0  0.00  1.0   1.0000  0.500000              24
11   3     2  0.0  0.00  1.0   1.0000  0.500000              27
12   0     3  0.0  0.00  1.0   1.0000  0.500000              30
13   1     3  0.0  0.00  1.0   1.0000  0.500000              33
14   2     3  0.0  0.00  1.0   1.0000  0.500000              36
15   3     3  0.0  0.00  1.0   1.0000  0.500000              39
16   0     4  0.0  0.00  1.0   1.0000  0.500000              42
17   1     4  0.0  0.00  1.0   1.0000  0.500000              45
18   2     4  0.0  0.00  1.0   1.0000  0.500000              48
19   3     4  0.0  0.00  1.0   1.0000  0.500000              51
20   0     5  0.0  0.00  1.0   1.0000  0.500000              54
21   1     5  0.0  0.00  1.0   1.0000  0.500000              57
22   2     5  0.0  0.00  1.0   1.0000  0.500000              60
23   3     5  0.0  0.00  1.0   1.0000  0.500000              63

    TIME CONSUMPTION (s)  P_X_BEST_0  P_X_BEST_1  P_X_BEST_2  P_OF_BEST
0               0.000011         0.5         1.0         1.0       2.25
1               0.000008         1.5         1.5         1.0       5.50
2               0.000006         2.5         2.5         1.0      13.50
3               0.000005         3.5         3.5         1.0      25.50
4               0.000005         0.0         0.0         1.0        NaN
5               0.000003         NaN         NaN         NaN        NaN
6               0.000002         NaN         NaN         NaN        NaN
7               0.000002         0.0         0.0         1.0        NaN
8               0.000005         0.0         0.0         1.0        NaN
9               0.000002         NaN         NaN         NaN        NaN
10              0.000002         NaN         NaN         NaN        NaN
11              0.000002         0.0         0.0         1.0        NaN
12              0.000005         0.0         0.0         1.0        NaN
13              0.000002         NaN         NaN         NaN        NaN
14              0.000002         NaN         NaN         NaN        NaN
15              0.000002         0.0         0.0         1.0        NaN
16              0.000005         0.0         0.0         1.0        NaN
17              0.000002         NaN         NaN         NaN        NaN
18              0.000002         NaN         NaN         NaN        NaN
19              0.000002         0.0         0.0         1.0        NaN
20              0.000005         0.0         0.0         1.0        NaN
21              0.000002         NaN         NaN         NaN        NaN
22              0.000002         NaN         NaN         NaN        NaN
23              0.000002         0.0         0.0         1.0        NaN   [0 0 0 0]
hello 0.0
hello 0.0
hello 1.0
hello nan
hello nan
hello nan
hello nan
hello nan
hello nan
hello 0.0
hello 0.0
hello 1.0

,ITER,OF EVALUATIONS,BEST ID,X_BEST_0,X_BEST_1,X_BEST_2,OF BEST,WORST ID,X_WORST_0,X_WORST_1,X_WORST_2,OF WORST,MEAN OF,STD OF
0,0,3,0,0.5,1.0,1,2.25,3,3.5,3.5,1,25.5,11.6875,10.350876
1,1,15,0,0.0,0.0,1.0,1.0,1,1.0,1.0,1.0,3.0,1.515625,0.990022
2,2,27,0,0.0,0.0,1.0,1.0,0,0.0,0.0,1.0,1.0,1.0,0.0
3,3,39,0,0.0,0.0,1.0,1.0,0,0.0,0.0,1.0,1.0,1.0,0.0
4,4,51,0,0.0,0.0,1.0,1.0,0,0.0,0.0,1.0,1.0,1.0,0.0
5,5,63,0,0.0,0.0,1.0,1.0,0,0.0,0.0,1.0,1.0,1.0,0.0

In [3]:
frame

,ID,ITER,X_0,X_1,X_2,OF,FIT,OF EVALUATIONS,TIME CONSUMPTION (s),P_X_BEST_0,P_X_BEST_1,P_X_BEST_2,P_OF_BEST
0,0,0,0.5,1.00,1.0,2.2500,0.307692,0,0.000011,0.5,1.0,1.0,2.25
1,1,0,1.5,1.50,1.0,5.5000,0.153846,1,0.000008,1.5,1.5,1.0,5.50
2,2,0,2.5,2.50,1.0,13.5000,0.068966,2,0.000006,2.5,2.5,1.0,13.50
3,3,0,3.5,3.50,1.0,25.5000,0.037736,3,0.000005,3.5,3.5,1.0,25.50
4,0,1,0.0,0.00,1.0,1.0000,0.500000,6,0.000005,0.0,0.0,1.0,NaN
5,1,1,1.0,1.00,1.0,3.0000,0.250000,9,0.000003,NaN,NaN,NaN,NaN
6,2,1,0.0,0.25,1.0,1.0625,0.484848,12,0.000002,NaN,NaN,NaN,NaN
7,3,1,0.0,0.00,1.0,1.0000,0.500000,15,0.000002,0.0,0.0,1.0,NaN
8,0,2,0.0,0.00,1.0,1.0000,0.500000,18,0.000005,0.0,0.0,1.0,NaN
9,1,2,0.0,0.00,1.0,1.0000,0.500000,21,0.000002,NaN,NaN,NaN,NaN
10,2,2,0.0,0.00,1.0,1.0000,0.500000,24,0.000002,NaN,NaN,NaN,NaN
11,3,2,0.0,0.00,1.0,1.0000,0.500000,27,0.000002,0.0,0.0,1.0,NaN
12,0,3,0.0,0.00,1.0,1.0000,0.500000,30,0.000005,0.0,0.0,1.0,NaN
13,1,3,0.0,0.00,1.0,1.0000,0.500000,33,0.000002,NaN,NaN,NaN,NaN
14,2,3,0.0,0.00,1.0,1.0000,0.500000,36,0.000002,NaN,NaN,NaN,NaN
15,3,3,0.0,0.00,1.0,1.0000,0.500000,39,0.000002,0.0,0.0,1.0,NaN
16,0,4,0.0,0.00,1.0,1.0000,0.500000,42,0.000005,0.0,0.0,1.0,NaN
17,1,4,0.0,0.00,1.0,1.0000,0.500000,45,0.000002,NaN,NaN,NaN,NaN
18,2,4,0.0,0.00,1.0,1.0000,0.500000,48,0.000002,NaN,NaN,NaN,NaN
19,3,4,0.0,0.00,1.0,1.0000,0.500000,51,0.000002,0.0,0.0,1.0,NaN
20,0,5,0.0,0.00,1.0,1.0000,0.500000,54,0.000005,0.0,0.0,1.0,NaN
21,1,5,0.0,0.00,1.0,1.0000,0.500000,57,0.000002,NaN,NaN,NaN,NaN
22,2,5,0.0,0.00,1.0,1.0000,0.500000,60,0.000002,NaN,NaN,NaN,NaN
23,3,5,0.0,0.00,1.0,1.0000,0.500000,63,0.000002,0.0,0.0,1.0,NaN