# Libraries

In [1]:
import sys
my_framework_path = '/home/wmpjrufg/Documents/metapy' # PC prof. wanderlei at umn
my_framework_path = r'C:\git-projetos\metapy' # PC prof. wanderlei
sys.path.append(my_framework_path)
from metapy_toolbox import *

# EGO tests

In [2]:
x_ini = [
            [0.0],
            [7.0],
            [25.]
        ]
paras = {
            'selection': 'roulette wheel',
            'crossover': {'type': 'blx-alpha', 'crossover rate (%)': 90},
            'mutation': {'type': 'random walk', 'mutation rate (%)': 20, 'params': {'pdf': 'gaussian', 'cov (%)': 10}}
        }
n_gen = 20
ego_01(active_learning_example, n_gen, paras, x_ini, [0.0], [25.0])

,ID,ITER,X_0,OF,FIT,OF EVALUATIONS,TIME CONSUMPTION (s),REPORT
0,0,0,0.000000,3.141276,0.241471,1,0.000051,
1,0,0,0.000000,3.141276,0.241471,1,0.000051,
2,0,0,0.000000,3.141276,0.241471,1,0.000051,
3,2,0,15.837464,-8.725179,9.725179,-1000,0.000014,NaN
4,2,0,15.837464,-8.725179,9.725179,-1000,0.000014,NaN
5,2,0,16.129641,-9.722451,10.722451,-1000,0.000018,NaN
6,2,0,16.614503,-11.262470,12.262470,-1000,0.000013,NaN
7,2,0,17.462787,-13.464735,14.464735,-1000,0.000023,NaN
8,2,0,17.601672,-13.750344,14.750344,-1000,0.000018,NaN
9,2,0,18.746335,-15.095736,16.095736,-1000,0.000110,NaN
10,2,0,18.746335,-15.095736,16.095736,-1000,0.000110,NaN
11,2,0,18.834063,-15.116649,16.116649,-1000,0.000015,NaN
12,2,0,18.834063,-15.116649,16.116649,-1000,0.000015,NaN
13,2,0,18.834063,-15.116649,16.116649,-1000,0.000015,NaN
14,2,0,18.993531,-15.122275,16.122275,-1000,0.000019,NaN
15,2,0,18.993531,-15.122275,16.122275,-1000,0.000019,NaN
16,2,0,18.993531,-15.122275,16.122275,-1000,0.000019,NaN
17,2,0,18.943471,-15.125047,16.125047,-1000,0.000015,NaN
18,2,0,18.943471,-15.125047,16.125047,-1000,0.000015,NaN
19,2,0,18.943471,-15.125047,16.125047,-1000,0.000015,NaN
20,2,0,18.943471,-15.125047,16.125047,-1000,0.000015,NaN
21,2,0,18.943471,-15.125047,16.125047,-1000,0.000015,NaN
22,2,0,18.943471,-15.125047,16.125047,-1000,0.000015,NaN