# Import library

In [12]:
# pip install metapy-toolbox
from metapy_toolbox import hill_climbing_01

# Setup

In [13]:
def my_function(x, none_variable):
    """Sphere function"""
    return x[0]**2 + x[1]**2

setup = {   
            'number of iterations': 5,
            'number of population': 2,
            'number of dimensions': 2,
            'x pop lower limit': [-5, -5],
            'x pop upper limit': [5, 5],
            'none variable': None,
            'objective function': my_function,
            'algorithm parameters': {'sigma': 20, 'pdf': 'gaussian'},
        }

init_pop = [[-0.744296104431692, 1.2756394501594848],
                [3.584499004856184, -3.3267189715496515]]

seed = None

# Call function

In [14]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = hill_climbing_01(settings)

# Output details

In [15]:
df_all_results

         X_0       X_1         OF       FIT  ITERATION
0  -0.744296  1.275639   2.181233  0.314344          0
1   3.584499 -3.326719  23.915692  0.040135          0
2  -0.788763  0.658232   1.055415  0.486520          1
3   3.371421 -3.079440  20.849428  0.045768          1
4  -0.752149  0.490259   0.806082  0.553685          2
5   3.285734 -2.911134  19.270750  0.049332          2
6  -0.732484  0.441183   0.731175  0.577642          3
7   2.847086 -3.261490  18.743215  0.050650          3
8  -0.946766  0.449392   1.098319  0.476572          4
9   3.671633 -2.735883  20.965948  0.045525          4
10 -0.712829  0.418162   0.682984  0.594183          5
11  2.697247 -2.654695  14.322547  0.065263          5

In [16]:
df_resume

,X_0,X_1,OF BEST,FIT BET,ID BEST,X_0,X_1,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,-0.744296,1.275639,2.181233,0.314344,0,3.584499,-3.326719,23.915692,0.040135,1,13.048462,0.177239,0,2
1,-0.788763,0.658232,1.055415,0.486520,0,3.371421,-3.079440,20.849428,0.045768,1,10.952422,0.266144,1,4
2,-0.752149,0.490259,0.806082,0.553685,0,3.285734,-2.911134,19.270750,0.049332,1,10.038416,0.301509,2,6
3,-0.732484,0.441183,0.731175,0.577642,0,2.847086,-3.261490,18.743215,0.050650,1,9.737195,0.314146,3,8
4,-0.732484,0.441183,0.731175,0.577642,0,2.847086,-3.261490,18.743215,0.050650,1,9.737195,0.314146,4,10
5,-0.712829,0.418162,0.682984,0.594183,0,2.697247,-2.654695,14.322547,0.065263,1,7.502766,0.329723,5,12

# Report

In [17]:
# Nome do arquivo onde o relatório será salvo
nome_arquivo = "relatorio.txt"

# Escrevendo o relatório no arquivo de texto
with open(nome_arquivo, "w") as arquivo:
    arquivo.write(report)