# Import library

In [1]:
# pip install metapy-toolbox
from metapy_toolbox import hill_climbing_01
from my_example import my_obj_function

# Setup

In [2]:
# Algorithm setup
setup = {   
            'number of iterations': 100,
            'number of population': 2,
            'number of dimensions': 2,
            'x pop lower limit': [-5, -5],
            'x pop upper limit': [5, 5],
            'none variable': None,
            'objective function': my_obj_function,
            'algorithm parameters': {'cov (%)': 20, 'pdf': 'gaussian'},
        }

# Initial guess
init_pop = [[-0.74, 1.25],
            [3.58, -3.33]]
"""
or # random guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])
"""

# Seed
seed = None

# Call function

In [3]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = hill_climbing_01(settings)

# Output details

In [4]:
df_all_results

          X_0       X_1         OF       FIT  ITERATION
0   -0.740000  1.250000   2.110100  0.321533          0
1    3.580000 -3.330000  23.905300  0.040152          0
2   -0.792680  1.196898   2.060906  0.326701          1
3    4.278881 -4.267602  36.521254  0.026652          1
4   -0.932468  1.046158   1.963943  0.337388          2
..        ...       ...        ...       ...        ...
197  0.020118 -0.030095   0.001310  0.998691         98
198 -0.003592  0.001595   0.000015  0.999985         99
199  0.012640 -0.033531   0.001284  0.998718         99
200 -0.003280  0.002285   0.000016  0.999984        100
201  0.011432 -0.025327   0.000772  0.999228        100

[202 rows x 5 columns]

In [5]:
df_resume

,X_0,X_1,OF BEST,FIT BET,ID BEST,X_0,X_1,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,-0.740000,1.250000,2.110100,0.321533,0,3.580000,-3.330000,23.905300,0.040152,1,13.007700,0.180843,0,2
1,-0.792680,1.196898,2.060906,0.326701,0,3.580000,-3.330000,23.905300,0.040152,1,12.983103,0.183426,1,4
2,-0.932468,1.046158,1.963943,0.337388,0,3.580000,-3.330000,23.905300,0.040152,1,12.934622,0.188770,2,6
3,-0.932468,1.046158,1.963943,0.337388,0,3.580000,-3.330000,23.905300,0.040152,1,12.934622,0.188770,3,8
4,-0.932468,1.046158,1.963943,0.337388,0,3.580000,-3.330000,23.905300,0.040152,1,12.934622,0.188770,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,-0.003301,0.002834,0.000019,0.999981,0,0.019589,-0.034741,0.001591,0.998412,1,0.000805,0.999196,96,194
97,-0.003301,0.002834,0.000019,0.999981,0,0.017300,-0.031448,0.001288,0.998713,1,0.000654,0.999347,97,196
98,-0.003175,0.002052,0.000014,0.999986,0,0.017300,-0.031448,0.001288,0.998713,1,0.000651,0.999350,98,198
99,-0.003175,0.002052,0.000014,0.999986,0,0.012640,-0.033531,0.001284,0.998718,1,0.000649,0.999352,99,200
100,-0.003175,0.002052,0.000014,0.999986,0,0.011432,-0.025327,0.000772,0.999228,1,0.000393,0.999607,100,202

# Report

### txt

In [6]:
filename = "report_hill_climbing_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [7]:
filename = "report_hill_climbing_01.xlsx"
df_resume.to_excel(filename, index=False)