# Import library

In [1]:
# pip install metapy-toolbox or pip install --upgrade metapy-toolbox
from metapy_toolbox import differential_evolution_01
from my_example import my_obj_function

# Setup

In [2]:
# Algorithm setup
setup = {   
            'number of iterations': 100,
            'number of population': 10,
            'number of dimensions': 2,
            'x pop lower limit': [-5, -5],
            'x pop upper limit': [5, 5],
            'none variable': None,
            'objective function': my_obj_function,
            'algorithm parameters': {
                                        'crossover': {
                                                      'crossover rate (%)': 90, 
                                                      'type': 'binomial'
                                                    },
                                        'mutation': {
                                                      'mutation rate (%)': 100,
                                                      'type': 'de/rand/1',
                                                      'scale factor (F)': 0.85
                                                    },
                                    }
        }

# Initial guess
# init_pop = [[-0.74, 1.25],
#             [3.58, -3.33],
#             [1.50, 1.50],
#             [1.00, 4.00]]
# random guess
from metapy_toolbox import initial_population_01
init_pop = initial_population_01(setup['number of population'],
                                setup['number of dimensions'],
                                setup['x pop lower limit'],
                                setup['x pop upper limit'])

# Seed
seed = None

# Call function

In [3]:
settings = [setup, init_pop, seed]
df_all_results, df_resume, time_cost, report = differential_evolution_01(settings)

Progress:   0%|          | 0/100 [00:00<?, ?it/s]

Progress: 100%|██████████| 100/100 [00:00<00:00, 141.63it/s]

# Output details

In [4]:
df_all_results

               X_0           X_1            OF       FIT  ITERATION
0     1.026061e+00 -4.026402e+00  1.726472e+01  0.054750          0
1    -4.728462e+00  9.384148e-02  2.236716e+01  0.042795          0
2    -5.446526e-01 -3.277515e+00  1.103875e+01  0.083065          0
3    -2.181107e+00  2.233961e+00  9.747810e+00  0.093042          0
4    -3.061153e+00  1.888401e+00  1.293672e+01  0.071753          0
...            ...           ...           ...       ...        ...
1005  5.537895e-07  1.406472e-07  3.264644e-13  1.000000        100
1006  3.911531e-07 -1.802492e-07  1.854906e-13  1.000000        100
1007  2.966086e-07 -2.204468e-07  1.365735e-13  1.000000        100
1008  4.511671e-08 -1.897170e-08  2.395443e-15  1.000000        100
1009 -2.102679e-07  2.633106e-07  1.135451e-13  1.000000        100

[1010 rows x 5 columns]

In [5]:
df_resume

,X_0_BEST,X_1_BEST,OF BEST,FIT BET,ID BEST,X_0_WORST,X_1_WORST,OF WORST,FIT WORST,ID WORST,OF AVG,FIT AVG,ITERATION,neof
0,-6.221311e-01,-2.035562e+00,4.530560e+00,0.180814,8,-4.796606e+00,2.967595e+00,3.181405e+01,0.030475,6,1.501266e+01,0.079352,0,10
1,-1.298613e+00,1.333019e+00,3.463335e+00,0.224048,8,-4.728462e+00,9.384148e-02,2.236716e+01,0.042795,1,1.054102e+01,0.110839,1,20
2,-6.154597e-01,-5.637085e-02,3.819684e-01,0.723606,3,-4.151753e+00,-1.228931e+00,1.874733e+01,0.050640,6,7.428307e+00,0.210806,2,30
3,-6.154597e-01,-5.637085e-02,3.819684e-01,0.723606,3,8.157610e-01,3.438008e+00,1.248537e+01,0.074154,6,4.284522e+00,0.342855,3,40
4,-2.870767e-01,-8.798074e-02,9.015367e-02,0.917302,9,3.355982e-01,-2.922128e+00,8.651456e+00,0.103611,4,3.147980e+00,0.408152,4,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,4.511671e-08,2.628108e-08,2.726213e-15,1.000000,8,-8.103199e-07,-7.159768e-07,1.169241e-12,1.000000,0,2.879267e-13,1.000000,96,970
97,4.511671e-08,2.628108e-08,2.726213e-15,1.000000,8,4.634225e-07,4.398250e-07,4.082065e-13,1.000000,0,1.900118e-13,1.000000,97,980
98,4.511671e-08,2.628108e-08,2.726213e-15,1.000000,8,-4.224643e-07,4.361016e-07,3.686607e-13,1.000000,1,1.422711e-13,1.000000,98,990
99,4.511671e-08,2.628108e-08,2.726213e-15,1.000000,8,3.911531e-07,-3.452742e-07,2.722150e-13,1.000000,6,8.326461e-14,1.000000,99,1000
100,4.511671e-08,-1.897170e-08,2.395443e-15,1.000000,8,3.911531e-07,-1.802492e-07,1.854906e-13,1.000000,6,6.703777e-14,1.000000,100,1010

# Report

### txt

In [6]:
filename = "report_differential_evolution_algorithm_01.txt"
with open(filename, "w") as f:
    f.write(report)

### xlsx

In [7]:
filename = "report_differential_evolution_algorithm_01.xlsx"
df_resume.to_excel(filename, index=False)